@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    color: #36454f;
}

h1{
    font-family: Oxygen, sans-serif;
    color: #fd7014;
    letter-spacing: 5px;
    font-size: xx-large;
} 


#logo{
   font-family: Oxygen, sans-serif;
   color: #36454f;
   float: left;
   font-size: 300%;
}

#logo-image{
    float: left;
    background: url('../images/Color-logo-with-background.png');
}

/*  nav menu   */

#menu{
    font-size: 150%;
    letter-spacing: 5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;

}

/* hero image  */
#hero-image{
    height:510px;
    width:100%;
    background: url('../images/horsepower-combo-image.jpg') no-repeat center center;
    border: solid 20px 20px 20px 20px;
    border-color: #fd7014;
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #36454f;
}
